body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	text-align: center;
}
.About{
 font-family: Chiller;
 font-size: 50px;
 background-color: ;
 color: #008000;
 padding: 5px;

}
.AW{
	font-size: 35px;
	
	 
}

.CD{
 font-family: Chiller;
 font-size: 50px;
 background-color: ;
 color: #008000;
 padding: 50px;

}

.Copy{
 font-family: Chiller;
 font-size: 40px;
 background-color: ;
 color: #008000;
 padding: 0px;

}
.add{
	font-size: 35px;
	
	
}

.AC{
	font-size: 35px;
	
	
}

.back{
	background: 100% blur;
}

.nav{
	overflow: hidden;
	background: #333;
}
.nav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	width: 100px;
	font-size: 14px
	font-weight: bold;
	text-transform: uppercase;
}

.nav a:hover{
	color: #000;
	background: #ddd;
}

.nav a.Share{
	background: #4caf50;
	font-size: 15px;
	border-radius: 50px;
	transition: 0.0s;

}

.nav a.active{
	background: #4caf50;
}



#header_center {
     background-color:#98FB98 ;
     color: black;
}

#logo {
	display: inline;
	padding: 5px 2px 10px 10px;
	vertical-align: middle;
}

#page_paragraph {
	display: inline;
	vertical-align: middle;
	font-size: 80px;
	font-family: chiller;
	text-shadow: 2px 2px 2px #008000;
}


#page_nav a {
	color: white;
}

#footer_line {
	text-align: center;
	background-color: #333;
	color: #008000;
	content: inherit;
	height: 50px;
	font-size: 25px;
}

.ACR{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
	font-size: 25px;
	color: #008000;
}
.ACD{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
	font-size: 25px;
	color: #008000;
}


.Animals{

		
}

.Animals img{
	width: 130px;
	height:130px;
	padding: 5px;
	filter: grayscale(0%);
	transition: 1s;

}

.Animals img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}


.Birds img{
	width: 130px;
	height:130px;
	padding: 5px;
	filter: grayscale(0%);
	transition: 1s;

}

.Birds img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

.Nature img{
	width: 130px;
	height:130px;
	padding: 5px;
	filter: grayscale(0%);
	transition: 1s;

}

.Nature img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

.Ani{
 font-family: Chiller;
 font-size: 50px;
 background-color: ;
 color: #008000;
 padding: 5px;


}

.Bir{
 font-family: Chiller;
 font-size: 50px;
 background-color:;
 color: #008000;
 padding: 5px;
 

}


.Nat{
 font-family: Chiller;
 font-size: 50px;
 background-color:;
 color: #008000;
 padding: 5px;
 

}

.para{
 font-family: Times New Roman;
 font-size: 20px;
 text-shadow: 2px 2px 2px #008000;


}

.s-m{
	

}

.s-m a{
	background: #2c3e50;
	color: white;
	transition: 0.4s;
	width: 20px;
	margin: 0 25px;
	border-radius: 50px;
	justify-content: right;
	align-items: right;
	transition: 0.4s;
	font-size: 15px;
}

.s-m a:hover{
	background: #4caf50;
}

.s-m a i{
	transition: 0.4s all;
}

.s-m a:hover > i{
	transform: scale(1.6) rotate(25deg);
}